<component name="ArtifactManager">
  <artifact type="war" name="springboot-ssm:war">
    <output-path>$PROJECT_DIR$/springboot-ssm/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springboot-ssm</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="ssm.war">
      <element id="artifact" artifact-name="springboot-ssm:war exploded" />
    </root>
  </artifact>
</component>